.hero.is-medium{ style: "background: url(#{@region.img_url}) no-repeat center" }
  .container
    .hero-body
      %h2.title.city-title= "Restaurants of #{@region.city}"

.section 
  .container
    = react_component("RestaurantView", { restaurants: @restaurants, isAdmin: admin_signed_in? } )

- if admin_signed_in?
  .section 
    .container 
      %p.title= "Add a New #{@region.city} Restaurant"

      = form_with url: "/restaurants", html: { autocomplete: "off" } do |f|
        %input{ type: "hidden", name: "region", value: "#{@region.city}" }
        
        .field 
          %label.label(for="name") Restaurant name
          .control 
            = f.text_field :name, { class: "input is-rounded" }

        .field 
          %label.label(for="description") Description
          .control 
            = f.text_field :description, { class: "input is-rounded", placeholder: "Keep it short!" }

        .field 
          %label.label(for="cuisine") Cuisine
          .control 
            = f.text_field :cuisine, { class: "input is-rounded", placeholder: "Spelling counts ;)" }
        
        .field
          %label.label(for="rating") Rating 
          .control
            = f.select :rating, [["AMAZE", 5], ["great", 4], ["good", 3], ["meh", 2], ["avoid", 1]]
        
        .field 
          %label.label(for="notes") Notes 
          .control 
            = f.text_area :notes, { class: "textarea is-rounded", placeholder: "Optional Notes" }

        .field 
          .control 
            %button.button.is-link Add restaurant
