.hero.is-medium{ style: "background: url(#{@region.img_url}) no-repeat center" }
  .container
    .hero-body
      %h2.title.city-title= "Restaurants of #{@region.city}"

.section 
  .container
    %table.table.is-fullwidth 
      %thead 
        %tr 
          %th Name
          %th Rating
          %th Cuisine
          %th Updated
          %th Description
      %tbody 
        - @restaurants.each do |restaurant|
          %tr 
            %td= restaurant.name 
            %td 
              %span= restaurant.rating
              %span.icon.has-text-warning
                %i.fas.fa-star
            %td= restaurant.cuisine 
            %td= restaurant.updated_at.strftime("%D")
            %td= restaurant.description 
