!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Adventures
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "https://fonts.googleapis.com", rel: "preconnect"}/
    %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}/
    %link{href: "https://fonts.googleapis.com/css2?family=Open+Sans&family=Reem+Kufi&display=swap", rel: "stylesheet"}/
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"}
    = stylesheet_link_tag 'application', media: 'all'
    %script{src:"https://kit.fontawesome.com/492794bb7e.js", crossorigin: "anonymous" }
    = javascript_pack_tag 'application'
  %body
    .hero 
      .hero-body 
        %h1.title.nav-title{href: "/"} Adventures 
        %h3.subtitle A living travel and eating journal by Saalik and Jackie.

    = yield

    %footer.footer 
      .content.has-text-centered 
        %p 
          Designed and Developed by 
          %a{href: "https://saaliklok.com"} @saaliklok
          &copy; 2021. Open Source.
        %span.icon-text
          %span.icon
            %a(href="https://github.com/SaalikLok/adventures") 
              %i.fab.fa-github.fa-2x
